*{
    padding : 0;
    margin : 0;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: rgb(245, 245, 245);
}

.main-container{
    width : 50%;
    margin : auto;
    position : relative;
    top : 50px;
}

.main-container-header h1{
    color :rgb(80, 80, 80);
    position: relative;
}

.main-container-header h1::after{
    content : '';
    height : 3px;
    width : 20%;
    position :absolute;
    background-color : #2f89fc;
    left : calc(50% - 10%);
    bottom : 0;
}