*{
    padding : 0;
    margin : 0;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: rgb(245, 245, 245);
}

.main-container{
    width : 50%;
    margin : auto;
    position : relative;
    top : 50px;
}

.main-container-header{
    padding : 15px 15px 70px;
}

.main-container-header h1{
    color :rgb(80, 80, 80);
    position: relative;
}

.main-container-header h1::after{
    content : '';
    height : 3px;
    width : 20%;
    position :absolute;
    background-color : #2f89fc;
    left : calc(50% - 10%);
    bottom : 0;
}

.main-container-body{
    background-color : snow;
    padding : 35px 15px 10px;
    display : flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 1px rgb(238, 238, 238);
}

.main-container-body button{
    align-self: center;
    padding : 5px;
    color : white;
    background-color : #2f89fc;
    outline : none;
    border : none;
    font-size : 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.8s;
    border-radius: 5px;
}

.main-container-body button:hover{
    background-color : transparent;
    color : #2f89fc;
}