*{
    padding : 0;
    margin : 0;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: rgb(245, 245, 245);
}

.main-container{
    width : 50%;
    margin : auto;
    position : relative;
    top : 50px;
}

.main-container-header{
    padding : 15px 15px 70px;
}

.main-container-header h1{
    color :rgb(80, 80, 80);
    position: relative;
    text-align : center;
}

.main-container-header h1::after{
    content : '';
    height : 3px;
    width : 20%;
    position :absolute;
    background-color : #2f89fc;
    left : 50%;
    transform: translateX(-50%);
    bottom : 0;
}

.main-container-body{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color : snow;
    padding : 0px 15px 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 1px rgb(238, 238, 238);
    height : 300px;
}

.main-container-body button{
    align-self: center;
    padding : 5px;
    color : white;
    background-color : #2f89fc;
    outline : none;
    border : none;
    font-size : 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.8s;
    border-radius: 5px;
}

.main-container-body button:hover{
    background-color : transparent;
    color : #2f89fc;
}

.quote-content{
    position: relative;
}

.quote-content i{
    font-size : 1.2rem;
    color : #fff371;
}

.quote-content i:nth-of-type(2){
    transform: rotateY(180deg);
}

.quote-text{
    font-size : 1.5rem;
    display: inline;
}

.author-text {
    position : absolute;
    right : 0;
    padding : 15px 50px;
}